body {
    width: 1200px;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: rgb(28, 109, 181);
    margin-top: 50px;
}

main{
   background: rgb(255, 255, 255);
   height: 400px;
   width: 1180px;
   border-radius: 10px;

}

footer{
    margin-top: 20px;
}

figure{
    margin-top: 10px;
    text-align: center;
}

h1{
    font-size: 35px;
    margin-bottom: 25px; 
    color: white;
}
h2{
    font-size: 23px;
    margin: 10px;
}

#botao{
    margin-left: 2px;
    width: 95%;
    height: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: rgb(28, 109, 181);
    color: white;
    border: 1px ;
    

}

li{
    margin-left: 10px;
}

#experiencia{
    font-size:12px;
    
}
#desc{
    margin-left: 10px;
}

input{
    margin: 2px;
    width: 97%;
    height: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#mensagem{
    margin: 2px;
    height: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#section1{
   width: 31%;
   height: 300px;
   float: left; 
   margin: 10px;
}

#section2{
   width: 31%;
   height: 300px;
   float: left; 
   margin: 10px;
}

#section3{
   width: 31%;
   height: 300px;
   float: left; 
   margin: 10px;
}

#section4{
    color: white;
   width: 49%;
   height: 50px;
   float: left; 
}

#section5{
    color: white;
   width: 49%;
   height: 50px;
   float: left; 
   text-align: right;
}